<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <title>Course</title>
</head>
<body class="container">

    <!--basic form with action pointing 1:1 towards the same route router.post is mounted-->
    <form class="" autocomplete="off"    action="/posts/uploads" method="post"   >
        <label for="user" class="form-label"></label>
        <input required type="text" name="user" class="form-control" placeholder="User">
    
        <label for="content" class="form-label"></label>
        <textarea required type="text" name="content" class="form-control" placeholder="Content"></textarea> 

        <button type="submit" class="btn btn-primary mt-3"> Submit </button>
    </form>

    <!--iterate through posts array and output for each post it's user and content-->
    <% posts.forEach((post) => { %>
        <div class="text-light bg-dark my-5 p-3 rounded">
            <div class="">User: <%= post.user %> </div>
            <div class="">Content: <%= post.content %> </div>
        </div>
        
    <% }) %> 
</body>
</html>